@tailwind base;
@tailwind components;
@tailwind utilities;

.box-out {
  width: 720px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 140px;
}

.book {
  width: 180px;
  height: 255px;
  background-color: rgb(15, 18, 44);
  transition: all 0.3s ease-in-out;
  transform-origin: left center 0px;
  transform-style: preserve-3d;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-backface-visibility: hidden;
  overflow: hidden;
}

.box-out .book::after {
  content: ' ';
  display: block;
  opacity: 0;
  width: 180px;
  height: 255px;
  position: relative;
  left: 8px;
  transition: all 0.3s ease;
}



.book:hover {
  cursor: pointer;
  transform: rotateY(-28deg) rotateZ(-2deg) scale(1.02);
  -webkit-backface-visibility: hidden;
  box-shadow: 1px 3px 2px #353d85, 20px 8px 0 #525dc4;
  /* transform: scale(1.02); */
}

.book:hover::after {
  content: ' ';
  display: block;
  opacity: 1;
  width: 172px;
  height: 255px;
  position: relative;
  left: 8px;
  background: linear-gradient(
    -180deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0) 60%
  );
}

.book:hover::before {
  transform: translateY(9px);
  opacity: 1;
}